#                        ___  _ _                     
#                       / _ \| (_)                    
#                      / /_\ \ |_  __ _ ___  ___  ___ 
#                      |  _  | | |/ _` / __|/ _ \/ __|
#                      | | | | | | (_| \__ \  __/\__ \
#                      \_| |_/_|_|\__,_|___/\___||___/
#                               
#------------------------------------------------------------------------------------
#
#   Implied
#

alias mvim="mvim -v"
alias grep="grep --color=auto"

#------------------------------------------------------------------------------------
#
#   Paths
#

alconf=~/.aliases
viconf=~/.vimrc
zsconf=~/.zshrc

#------------------------------------------------------------------------------------
#
#   Edit Me 
#

alias ealconf="vim $alconf"
alias eviconf="vim $viconf"
alias ezsconf="vim $zsconf"

#------------------------------------------------------------------------------------
#
#   Refreshments 
#

alias salconf="source $alconf"
alias sviconf="source $viconf"
alias szsconf="source $zsconf"
